@import '/src/theme/variables';

.audio__player_container {
  display: flex;
  flex-direction: row-reverse;
}

.player__timer_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.5rem;
}

.player__progress {
  @include width-heigth(100%, 5px);
  background: $border-botton;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress {
  background: $button-color-active;
  border-radius: 5px;
  height: 3px;
  display: flex;
  overflow: hidden;
  font-size: 0.75rem;
}

.player__timer {
  display: flex;
  justify-content: space-between;
  height: 1.3rem;
}

.player-icon {
  @include icon-size(15px);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  @include icon-size(40px);
  background-image: url('/assets/icons/AudioControls/play.svg');
}

.pause {
  background-image: url('/assets/icons/AudioControls/pause.svg');
}

.timer_description {
  font-size: 11px;
  color: #d3d3d3;
}
