@import '/src/theme/variables';

.header__top-panel {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.top-panel_button-container {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.top-panel_button {
  border-radius: 0.25rem;
  width: 50px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2;
  background-color: $section-background-color;
  border: 1px solid $border-name-birds;
}

.active-button-lang {
  background-color: $button-color-active;
}

.top-panel_logo {
  background-image: url($logo);
  width: 200px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.top-panel_score {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;

  h5 {
    font-size: 1.1rem;
  }
}

.top-panel_logo {
  background-image: url($logo);
  width: 100px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  @media (min-width: $tablet) {
    width: 200px;
    height: 55px;
  }
}

.top-panel_score {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;

  h5 {
    font-size: 1.1rem;
  }
}
