@import '/src/theme/variables';

.player__progress {
  background: #e4e9ed7e;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress {
  background: #9e36ff8c;
  border-radius: 5px;
  height: 3px;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}
