@import '/src/theme/variables';

.bird-random {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 25px;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: $section-background-color;
}

.bird-random__img {
  @extend %bird-img;
  // @include width-heigth(200px, 155px);
  // border-radius: 10px;
  // margin: 0 auto 25px;
}
