// @import 'layout/header/header';
// @import 'layout/body/body';

$section-background-color: #303030;

.bird-random {
  display: flex;
  padding: 1rem;
  margin-bottom: 25px;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: $section-background-color;
}

.bird-random__img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}
