$background: #222;
$section-background-color: #303030;
$border-botton: #555;
$border-name-birds: #444;
$range: rgba(175, 175, 175, 0.556);
$button-color: #008966;
$button-color-active: #00bc8c;
$button-color-border: #007c5d;
