@import '/src/theme/colors';
@import '/src/theme/mixins';

%icons {
  cursor: pointer;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}
