@import '/src/theme/colors';

$logo: 'https://birds-quiz.netlify.app/static/media/logo.4f82cd73.svg';

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat.ttf');
  font-weight: 500;
  font-style: normal;
}
