@import '/src/theme/colors';
@import '/src/theme/mixins';
@import '/src/theme/img';
@import '/src/theme/icons';

$logo: 'https://birds-quiz.netlify.app/static/media/logo.4f82cd73.svg';

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat.ttf');
  font-weight: 500;
  font-style: normal;
}

$tablet: 570px;
$desktop: 767px;
